@import 'node_modules/ember-frost-theme/scss/frost-theme';
@import './frost-list-item';

// Theme variables - TODO move to ember-frost-theme
$frost-list-border: $frost-color-lgrey-1;

// Core styles - TODO move to ember-frost-css-core
.frost-flex-row {
  display: flex;
  flex-direction: row;
}

.frost-flex-column {
  display: flex;
  flex-direction: column;
}

// Container
.frost-list {
  position: relative;
  display: flex;
  flex-direction: column;
}

// Borders - top/bottom
.frost-list {
  .border-top,
  .border-bottom {
    position: absolute;
    left: 0;
    right: 15px;
    height: 1px;
    background-color: $frost-list-border;
  }

  .border-top {
    top: 0;
  }

  .border-bottom {
    bottom: 0;
  }
}

// Borders - left/right
.frost-list vertical-collection {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $frost-list-border;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 15px;
  }
}

// Content
.frost-list vertical-collection {
  flex: 1;
  padding-right: 15px;
}
