<div class='demo-container'>
  {{#frost-list
    class='frost-flex-1'
    loadPrevious=(action 'loadPrevious')
    loadNext=(action 'loadNext')
    model=listItems
    as |listItem|
  }}
    {{component 'demo/user-list-item'
      detailLevel=detailLevel
      model=listItem
      selections=listSelections
      on-select=(action 'selected')
    }}
    {{!--component componentPath model=record detailLevel=activeDetailLevel--}}
  {{/frost-list}}
</div>
